body {
    background-color: white;
    margin: 0;
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.75;
  min-height: 100vh;
}

h4 {
    margin: 0.5rem 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-content: center;
    gap: 3rem;
}

.navbar {
    padding: 1% 4% 0 4%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    
}

.navbar-link, .logo {
    text-decoration: none;
    color: black;
    

}

.navbar-link:hover {
    text-decoration: underline;
}

.logo {
    font-weight: bold;
}


.links-div a {
    display:inline-block;
    vertical-align: middle;
}
  
.navbar :last-child :last-child {
    margin-left: 1rem;
    
    
}


.footer {
    padding: 1%;
    text-align: center;
    background-color: #404040;
    color: white;
}


.main-blog {
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
    gap: 2.75rem;
    align-items: center;
}


.info {
    width: 50%;
}

.info p {
    color: #868686;
}

.info a {
    text-decoration: none;
    color: black;
    
}

.info button {
    background-color: white;
    border: 1px solid #868686;
    border-radius: 10px;
    padding: 1%;
    margin-top: 1%;
    font-size: 1rem;
    cursor: pointer;
}

.info button:hover {
    background-color: #dadce0;
}

.image-div {
    width: 50%;
}

.image-div img {
    
    border-radius: 10px;
    width: 100%;
    height: 38vh;
    
}

.latest-blogs {
    display: flex;
    flex-direction: column;
    background-color: #dadce0;
    padding: 0 2% 1rem;
    border-radius: 10px;
    margin: 0 4%;
    min-height: fit-content;
}

.header-one {
    position: relative;
    left: 25%;
   
}

.cards {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.blog-card {
    width: 20%;
    text-align: left;
}


.latest-blogs img {
    position: relative;
    width: 100%;
    border-radius: 10px;
}


.blog-card a {
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.date-div {
    margin-bottom: 5px;
}

.calendar {
    width: 30px !important;
    
}

.date {
    display: inline;
    color:  #868686;
    position: relative;
    bottom: 9px;
}

@media (max-width: 680px) {

    body {
        font-size: 0.75rem;
    }
    .navbar {
        gap: 2rem;
        font-size: 1.25rem;
        
    }
    .logo {
        font-weight: bold;
    }
    .links-div {
        display: flex;
        gap: 0.5rem
    }
    .navbar :last-child :last-child {
        margin-left: 0;
        
        
    }
    .main-blog {
        flex-direction: column-reverse;
        gap: 2rem;
        align-items: left;
    }

    .info {
        width: 100%;
    }

    .image-div {
        width: 100%;
    }

    .cards {
        flex-wrap: wrap;
 
    }
    
    .blog-card {
        width: 45%;
        text-align: left;
    }
    
    .latest-blogs img {
        position: static;
        width: 100%;

    }
    
}


/* new post page */


.main-2 {
    background-color: #dadce0;
    margin: 0 25%;
    border-radius: 10px;
    min-height: 76vh;
}

form {
   position: relative;
   left: 15%;
    display: flex;
   flex-direction: column;
    gap: 1.5rem;
    padding: 3% 0;
   width: 70%;

}


input {
    border: none;
    border-radius: 10px;
    height: 2rem;
    margin-top: 0.5rem;
    width: 100%;
    text-indent: 8px;
    
}



label {
    font-size: 1.25rem;
}

input:focus {
    border: none;
    outline: none;
}

textarea {
    border: none;
    border-radius: 10px;
    margin-top: 0.5rem;
    outline: none;
    width: 100%;
    text-indent: 8px;
}



input[type="submit"] {
    background-color: #5e5d5d;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
    margin-top: 0;
}

input[type="submit"]:hover {
    opacity: 0.75;
}


@media (max-width: 680px) {
    .main-2 {
    margin: 0 4%;
}

form {
   left: 5%;
    gap: 1rem;
   width: 90%;

}

}


/* all posts */

.all-posts {
    background-color: #dadce0;
    margin: 0 4%;
    border-radius: 10px;
    padding: 0 2%;
    min-height: 76vh;
    
}

.posts {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    
}

.blog-post {
    width: 20%;
    
    text-align: left;
}



.all-posts img {
    position: relative;
    width: 100%;
    
}

.img-f-div img {
    width: 335px;
    height: 250px;
    border-radius: 10px;
}


.blog-post a {
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

@media (max-width: 680px) {
    .posts {
       gap: 2rem;
        
    }
    
    .blog-post {
        width: 45%;
        gap: 1rem;
    }
    
    
    .all-posts img {
        position: relative;
        width: 100%;
        
    }
    
    .img-f-div img {
        width: 200px;
        height: 150px;

    }
    
}

/* show post */

.one-post {
    background-color: #dadce0;
    margin: 0 4%;
    border-radius: 10px;
    padding: 0 2%;
    min-height: 76vh;
    
}

.show-post {
    display: flex;
    justify-content: center;
   min-height: 76vh;
   align-items: center;
   gap: 5rem;
    
}


.date-div {
    height: 30px;
}

.post-content {
    width: 60%;
}

.post-content a{
    text-decoration: none;
    color: black;
    
}
.post-content button {
    background-color: #dadce0;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1% 3%;
    margin-top: 1%;
    font-size: 1rem;
    cursor: pointer;
}

.post-content button:hover {
    background-color: #404040;
    color: white;
   
}

.post-content p {
    color: #868686;
}

.post-image-div {
    width: 30%;
}

.post-image-div img {
    
    border-radius: 10px;
    width: 100%;
    
}

@media (max-width: 680px) {

.show-post {
    flex-direction: column-reverse;
    gap: 1rem;
    align-items: left;
    padding: 4%;
}

.post-content {
    width: 100%;
}

.post-image-div {
    width: 100%;
}
}